<?php

/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driver_class' => \Doctrine\DBAL\Driver\PDO\MySQL\Driver::class,
                'params' => [
                    'dbname' => 'vuowma',
                    'user' => 'vuowma_user',
                    'password' => 'vuowma_pass',
                    'charset' => 'utf8',
                ]
            ],
        ],
    ],
    'vuowma' => [
        // The public URL for this application, for link-generating purposes:
        'base_url' => 'http://localhost/vuowma/',
        // The webhook URL for Office365, for message-forwarding:
        'webhook_url' => 'https://outlook.office.com/webhook/xxx/IncomingWebhook/yyy',
    ],
];
